body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f9e8; /* Verde claro - frescura */
    color: #333;
}





header {
    background-color: #1a3f1b; /*Verde brillante - naturalidad */
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


.navigation {
    background-color: #4caf50; /* Cambia el color de fondo según tus preferencias */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px; /* Ajusta la altura según tus preferencias */
}

.navigation a {
    text-decoration: none;
    color: rgb(251, 252, 251); /* Cambia el color del texto según tus preferencias */
    padding: 10px; /* Ajusta el relleno según tus preferencias */
}

.navigation a:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratón sobre el enlace */
}


section {
    padding: 2em;
}

footer {
    background-color: #4caf50; /* Verde brillante - naturalidad */
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #fff; /* Color de fondo del cuadro de producto */
    border: 1px solid #ccc; /* Borde del cuadro de producto */
    padding: 20px;
    text-align: center;
    max-width: 300px; /* Ancho máximo del cuadro de producto */
}

.product img {
    max-width: 100%; /* Imagen dentro del cuadro de producto */
}

.cart {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.cart div {
    background-color: #fff; /* Color de fondo del cuadro del carrito */
    border: 1px solid #ccc; /* Borde del cuadro del carrito */
    padding: 20px;
    text-align: center;
    max-width: 400px; /* Ancho máximo del cuadro del carrito */
}

.cart table {
    width: 100%;
}

.cart th, .cart td {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Borde inferior de las filas de la tabla */
}

.cart th {
    background-color: #f2f2f2; /* Color de fondo del encabezado de la tabla */
}

button {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Color de fondo del botón al pasar el ratón */
}

form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

